<div class="container mx-auto px-4 py-6" data-controller="scan-book">
  <h1 class="text-2xl font-bold mb-6">Borrow New Book</h1>

  <div class="flex flex-col md:flex-row w-full gap-8">
    <%= form_with(model: @book_transaction, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full") do |form| %>
      <% if @book_transaction.errors.any? %>
        <div
          class="
            mb-6 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative
          "
          role="alert"
        >
          <strong class="font-bold">Please correct the following errors:</strong>
          <ul>
            <% @book_transaction.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :book_master_id, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select :book_master_id,
                               BookMaster.available,
                               :id,
                               :name,
                               { prompt: "Select a Book" },
                               {
                                 class:
                                   "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                                 "data-scan-book-target": "bookSelect",
                               } %>
      </div>

      <div class="mb-4">
        <%= form.label :borrower_id, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.collection_select :borrower_id,
                               Borrower.includes(:user).all,
                               :id,
                               :user_name,
                               { prompt: "Select a Borrower" },
                               {
                                 class:
                                   "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",
                               } %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.submit "Borrow Book",
                    class:
                      "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
    <div
      class="
        bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full flex flex-col items-center
        justify-start md:justify-center
      "
    >
      <h2 class="text-2xl">Scan Book</h2>

      <div class="p-3" data-scan-book-target="scannerActivate">
        <button
          type="button"
          class="
            py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg
            border border-transparent bg-blue-600 text-white hover:bg-blue-700
            disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none
            dark:focus:ring-1 dark:focus:ring-gray-600
          "
          data-action="click->scan-book#activateScanner"
          style="background-color: rgb(37 99 235 / var(--tw-bg-opacity));"
        >
          Scan Barcode
          <svg
            class="flex-shrink-0 w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ><path d="M3 5v14"/><path d="M8 5v14"/><path d="M12 5v14"/><path d="M17 5v14"/><path d="M21 5v14"/></svg>
        </button>
      </div>

      <div data-scan-book-target="scannerComponent" class="hidden">
        <div class="my-4">
          <a
            class="
              bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
              focus:outline-none focus:shadow-outline cursor-pointer
            "
            data-action="click->scan-book#resetScanner"
          >Reset</a>
        </div>

        <div class="w-full">
          <video id="video" class="w-full h-48 my-6" style="border: 1px solid gray"></video>
        </div>

        <div
          id="sourceSelectPanel"
          data-scan-book-target="sourceSelectPanel"
          style="display:none"
        >
          <!-- Floating Select -->
          <div class="relative">
            <label for="sourceSelect" class="block text-gray-700 text-sm font-bold mb-2">Select Camera</label>
            <select
              data-scan-book-target="sourceSelect"
              id="sourceSelect"
              class="
                shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                leading-tight focus:outline-none focus:shadow-outline
              "
            >
            </select>
          </div>
        </div>

        <div class="my-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Result:</label>
          <pre><code id="result"></code></pre>
        </div>
      </div>

    </div>
  </div>
</div>
